#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-app{
  margin:0;
}

.main-app h2{
  margin-top: 0rem;
}

.logo{
  margin-bottom: 1rem;
}